@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  color: white;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}


.read{
  margin-top: 200px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 5px solid rgb(121, 121, 121);
}

