
.loading{
    text-align: center;
    margin-top: 120px;
}

.list-movies{
    max-width: 800px;
    margin: 14px auto;
}

.list-movies article{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

.list-movies strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}


.list-movies img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    border-radius: 32px 32px 0 0;
}

.list-movies a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 ;
    font-size: 24px;
    background-color: rgb(0, 102, 255);
    text-decoration: none;
    color: #ffff;
}
