*{
  background: rgb(207, 207, 207);
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
label{
  font-size: 22px;
}

input{
  font-size: 18px;
}

button{
  width: 200px;
  height: 50px;
  margin-top: 50px;
  background-color: aqua;
  border-radius: 0 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid white;
  text-transform: uppercase;
}

button:hover{
  transform: rotateY(20deg);
  box-shadow: 6px 6px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}