.movie-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
    margin-top: 18px;
    padding: 0 9px;
}

.movie-info h1{
    margin: 14px 0;
}

.movie-info p {
    width: 800px;
    margin: 20px 0 20px 0;
}

.movie-info img{
    border-radius: 8px;
    width: 800px;
    max-height: 340px;
    object-fit: cover;
}

.area-button button{
    margin-top: 15px;
    margin-left: 0;
    padding: 12px;
    border: 0;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.area-button button:hover{
    background-color: brown;
    color: #fff;
}
.area-button a:hover{
    color: #fff;
}

.area-button a{
    text-decoration: none;
    color: black;
}
